.integration_logs_window-container {
    display: flex;
    position: fixed;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    font-size: 12px;
    color: #000000;
    font-weight: 500;
    font-family: Poppins;
    letter-spacing: 0.5px;
    border: solid 1px rgb(185, 188, 197);
    border-radius: 5px;
    justify-content: center;
    transition-duration: 200ms;
}

.integration_logs_window-container--move {
    right: 360px !important;
}

.integration_logs_window-icon {
    height: 15px;
    width: 15px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.integration_logs_window-icon-log {
    background-image: url('../assets/icons/error.svg');
}

.integration_logs_window-log {
    background: #ffcbc8 !important;
    color: #a50f0f !important;
}

.integration_logs_window-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
}

.integration_logs_window-container__title {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.integration_logs_window-dialog-log-container {
    width: calc(100% - 20px);
    margin: 0 0 20px 0;
    padding: 5px 10px;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
}

.integration_logs_window-dialog-log-title {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

.integration_logs_window-dialog-log-path {
    font-size: 12px;
    font-weight: 500;
    color: var(--select);
    margin: 0;
}

.integration_logs_window-dialog-log-message {
    font-size: 12px;
    font-weight: 300;
}
